/* Remove default bullets */

/* Navigation Tree */
/* ----------------------------------------------------------------------------------------------- */

.treeview {
  width: 20%;
  height: 1000px;
  float: left;
  margin: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}

ul, #navTree {
  list-style-type: none;
  padding-inline-start: 20px;
}

/* Remove margins and padding from the parent ul */

#navTree {
  margin: 0;
  padding: 0;
}

/* Style the caret */

.caret {
  cursor: pointer;
  user-select: none;
  font-weight: bolder;
  /* Prevent text selection */
}

  /* Create the caret/arrow with a unicode, and style it */

  .caret::before {
    content: "\002B";
    color: black;
    display: inline-block;
    margin-right: 6px;
    font-weight: bolder;
  }

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

.caret-down::before {
  content: "\2212";
}

/* Hide the nested list */

.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active {
  display: block;
}

.content-link {
  cursor: pointer;
}

.content-link-inline {
  cursor: pointer;
  color: blue;
  display: inline;
}

.active-content-link {
  text-decoration: underline;
}

.content-link:hover {
  text-decoration: underline;
}

.filtered-out {
  height: 0;
  visibility: hidden;
}

/* Content */
/* ----------------------------------------------------------------------------------------------- */
.content {
  visibility: hidden;
  position: absolute;
  margin-left: 10px;
}

.active-content {
  visibility: visible;
}

hr {
  margin-left: 12px;
  margin-right: 12px;
  opacity: 12%;
  color: black;
  background-color: black;
}

.mainhead {
  font-size: 30px;
  margin: 0;
}

.content-container {
  margin-left: 20%;
  height: 100px;
}
