/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
  padding-inline-start: 20px;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.content-link {
  cursor: pointer;
}

.content-link-inline {
  cursor: pointer;
  color: blue;
  display: inline;
}

.active-content-link {
  text-decoration: underline;
}

.content-link:hover {
  text-decoration: underline;
}

.content {
  visibility: hidden;
  position: absolute;
  margin-left: 10px;
}

.active-content {
  visibility: visible;
}

hr {
  margin-left: 12px;
  margin-right: 12px;
  opacity: 12%;
  color: black;
  background-color: black;
}

.treeview {
  width: 20%;
  height: 1000px;
  float: left;
  overflow-y: scroll;
}

.mainhead {
  font-size: 30px;
  margin: 0;
}

.content-container {
  margin-left: 20%;
  height: 100px;
}

/*Property Tables*/
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
