.tj_container ul {
  padding-left: 1em;
  font-size: 16px;
  word-break: break-all;

}

.tj_container li span.tj_mod_icon, .tj_container li span.tj_icon {
  margin-right: 0em;
}

.tj_container li span.tj_description.tj_leaf {
  margin-left: 0em;
}
.tj_container li span.tj_description.tj_leaf:hover {  
  background-color: rgb(108, 98, 108);
}

.navtree {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
  margin-left: 0em;
  border-style: solid;
  border-width: 0 0.005em 0 0;
  border-color: rgba(0,0,0,0.15);
}